*

!.config
!.config/gh
!.config/gh/config.yml
!.config/starship.toml
!.config/pip
!.config/pip/pip.conf
!.gitconfig
!.gitignore
!.hushlogin
!.hyper.js
!.macos
!.zprofile
!.zshrc
!all-repos-sample.json
!Brewfile
